.wishlist-sec {
   min-height: 100vh;
}

.wishlist-heading,
.wishlist-info {
   margin-top: 2rem;
   text-align: center;
}

.wishlist-info {
   font-size: 1.3rem;
}

.wrapper-wishlist {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

@media (min-width: 768px) {
   .wrapper-wishlist {
      flex-direction: row;
      flex-wrap: wrap;
   }
}
