@import url('https://driftcss.netlify.app/css/drift.css');

body {
   background: hsl(180, 5%, 96%);
   position: relative;
}

a:focus,
a:hover,
a:active,
a.active .container {
   text-decoration: none;
}

.row {
   flex-direction: row;
   flex-wrap: wrap;
}

.btn {
   margin: 0;
}

@media (min-width: 768px) {
   .row {
      flex-wrap: wrap;
   }
}

@media (min-width: 840px) {
   .wrapper {
      display: flex;
      position: relative;
      max-width: 1400px;
      margin: 0 auto;
      justify-content: space-between;
   }
}
