.card {
   width: 50%;
   margin-top: 0;
   background-color: #fff;
   border: 1px solid #d3d7e1;
   border-radius: 0;
   min-height: 315px;
   padding: 0.5rem;
}

.product-card {
   height: 50%;
}

.btn-wishlist {
   width: 1.4rem;
   height: 1.4rem;
   padding: 0;
}

.product-details {
   display: block;
   text-align: left;
}

.product-heading {
   line-height: 0.6;
   margin-top: 0.8rem;
   margin-bottom: 0.8rem;
}

.product-image {
   height: 160px;
   width: 150px;
   margin: 0 auto;
   margin-top: 2rem;
}

.product #product-title,
.product-price .new-price {
   font-size: 0.7rem;
}

#product-title:hover {
   color: #2553e3;
}

.old-price {
   margin-left: 0.3rem;
}

.product .btn-cart {
   margin-top: 1rem;
   font-size: 0.7rem;
}

.fa-heart-product {
   color: #ff4d4f;
}

.fa-heart-product.active {
   font-size: 0.8rem;
   color: #ff4d4f;
}

@media (min-width: 600px) {
   .fa-star {
      font-size: 0.8rem;
   }
}

@media (min-width: 768px) {
   .card {
      width: 30%;
      border: none;
      margin-top: 2rem;
      border-radius: 0.6rem;
      padding: 1rem;
   }

   .product-image {
      height: 155px;
      width: 140px;
      margin: 0 auto;
      margin-top: 1rem;
      margin-bottom: 2.5rem;
   }
}

@media (min-width: 960px) {
   .card {
      margin: 0 auto;
      margin-top: 2rem;
      width: 24%;
   }
}

@media (min-width: 1280px) {
   .product-image {
      width: 160px;
   }
}
