.container-login {
   display: flex;
   flex-direction: column;
   justify-content: center;
   max-width: 400px;
   padding: 1rem;
   margin: 0 auto;
   min-height: 70vh;
}

.card-login {
   background-color: #fff;
   border-radius: 5px;
   margin-top: 2rem;
   padding: 0.8rem;
   padding-top: 2rem;
   padding-bottom: 3rem;
}

.input-label {
   font-weight: 500;
}

.title-login {
   text-align: center;
   font-size: 1.3rem;
}

.btn-login {
   margin: 0;
   margin-top: 1rem;
   width: 100%;
   font-weight: 600;
}

.server-error {
   display: block;
   text-align: center;
   margin-top: 0.5rem;
   font-size: 0.8rem;
   font-weight: 500;
   color: #ff4d4f;
}

.signup-link {
   display: block;
   font-weight: 500;
   margin-top: 1rem;
   text-align: center;
}
