.product-detail {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   background-color: #fff;
   padding-top: 2rem;
   padding-bottom: 2rem;
   margin-top: 2rem;
   margin-bottom: 1rem;
   color: #00041c;
}

.product-info {
   margin-top: 2rem;
   padding: 0.6rem;
}

.product-actions {
   width: 100%;
   margin-top: 3rem;
   display: flex;
   flex-direction: column;
}

.product-actions button {
   width: 70%;
   margin: 0 auto;
   margin-top: 1rem;
}

.product-img {
   display: block;
   border: 10px solid #fff;
   border-radius: 10px;
   width: 80%;
   margin: 0 auto;
}

.product-info-label {
   font-weight: 500;
}

.product-description,
.product-brand,
.product-rating {
   margin-bottom: 1rem;
}

.fa-star {
   color: #2553e3;
}

@media (min-width: 768px) {
   .product-actions {
      flex-direction: row;
   }

   .product-actions button {
      width: 40%;
   }
}

@media (min-width: 840px) {
   .product-detail {
      flex-direction: row;
      justify-content: space-between;
      padding: 3rem;
      margin: 0 auto;
   }

   .product-img {
      margin: 0;
   }

   .product-info {
      align-self: flex-start;
   }
}

@media (min-width: 960px) {
   .product-detail {
      margin: 2rem;
      padding: 1rem;
      background-color: #fff;
      justify-content: space-around;
   }

   .product-photo {
      width: 35%;
   }

   .product-info {
      width: 50%;
   }

   .product-info {
      padding: 1rem;
   }

   .product-actions {
      flex-direction: row;
      justify-content: flex-start;
   }

   .product-actions button {
      margin: 0;
      margin-right: 1rem;
   }
}
