.card {
   width: 50%;
   margin-top: 2rem;
}

.product-card {
   height: 50%;
}

.product-details {
   display: block;
   text-align: left;
}

.product-heading {
   line-height: 1;
   margin-bottom: 0.5rem;
}

.product #product-title,
.product-price .new-price {
   font-size: 0.7rem;
}

.product .btn-cart {
   margin-top: 1rem;
   font-size: 0.7rem;
}

@media (min-width: 768px) {
   .card {
      width: 30%;
   }
}

@media (min-width: 960px) {
   .card {
      margin: 0 auto;
      width: 25%;
      margin-top: 2rem;
   }
}
