.card {
   width: 50%;
   margin-top: 2rem;
   background-color: rgba(251, 252, 252, 1);
}

.product-card {
   height: 50%;
}

.btn-wishlist {
   width: 1.4rem;
   height: 1.4rem;
   padding: 0;
}

.product-details {
   display: block;
   text-align: left;
}

.product-heading {
   line-height: 1;
   margin-bottom: 0.5rem;
}

.product #product-title,
.product-price .new-price {
   font-size: 0.7rem;
}

.product .btn-cart {
   margin-top: 1rem;
   font-size: 0.7rem;
}

.fa-heart-product {
   font-size: 0.8rem;
   color: #d3d7e1;
}

.fa-heart-product.active {
   color: #ff4d4f;
}

.fa-heart-product:hover {
   color: #ff4d4f;
}

@media (min-width: 600px) {
   .fa-star {
      font-size: 0.8rem;
   }
}

@media (min-width: 768px) {
   .card {
      width: 30%;
   }
}

@media (min-width: 960px) {
   .card {
      margin: 0 auto;
      width: 24%;
      margin-top: 2rem;
   }
}
