.footer {
   color: #fff;
   background-color: #141b48;
   padding: 2rem;
   font-weight: 600;
   margin-top: 4rem;
}

.footer-logo,
.footer-icon {
   cursor: pointer;
}

.footer-logo,
.footer-icon {
   color: #fff;
}

.footer-content {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.footer-icons {
   display: flex;
   flex-direction: row;
   justify-content: center;
   font-size: 1.5rem;
   text-align: center;
   margin-top: 2rem;
}

.p-font {
   font-size: 0.8rem;
}

.footer-icons > div:not(:last-child) {
   margin-right: 1rem;
}
