.wrapper-wishlist {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

@media (min-width: 768px) {
   .wrapper-wishlist {
      flex-direction: row;
      flex-wrap: wrap;
   }
}
