.navbar-sm {
   position: fixed;
   width: 100%;
   z-index: 15;
}

.navbar-brand {
   display: flex;
   align-items: center;
}

#navbar-logo {
   width: 30px;
   height: 30px;
   margin-right: 0.3rem;
}

#nav-item-sidebar {
   margin-right: 0rem;
}

.badge-top {
   top: -0.4rem;
   width: 0.9rem;
   height: 0.9rem;
}

.container-nav {
   padding-bottom: 6rem;
}

.btn-auth {
   background-color: #fff;
   color: #4a526b;
   font-weight: 600;
}

@media (min-width: 640px) {
   .badge-top {
      top: -0.6rem;
      width: 1rem;
      height: 1rem;
   }
}

@media (min-width: 840px) {
   .form-inline {
      width: 40%;
   }

   .sidebar-overlay {
      display: none;
   }

   .navbar {
      margin-top: 0;
      padding-left: 2rem;
      padding-right: 2rem;
   }

   .navbar-md {
      position: fixed;
      width: 100%;
      z-index: 15;
   }

   .container-nav {
      padding-bottom: 3rem;
   }
}
