@import url('https://driftcss.netlify.app/css/drift.css');

body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.App {
   font-family: sans-serif;
   text-align: center;
}

/* Product Card */
.row {
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}

.card {
   width: 50%;
   margin-top: 2rem;
}

.product-card {
   height: 50%;
}

.product-details {
   display: block;
   text-align: left;
}

.product-heading {
   line-height: 1;
   margin-bottom: 0.5rem;
}

.product #product-title,
.product-price .new-price {
   font-size: 0.7rem;
}

.product .btn-cart {
   margin-top: 1rem;
   font-size: 0.7rem;
}

.navbar-sm {
   position: fixed;
   width: 100%;
   z-index: 10;
}

.container-nav {
   padding-bottom: 8rem;
}

/* Filter */

.filter-sm {
   display: block;
}

.filter-md {
   display: none;
}

.filter-buttons {
   position: fixed;
   bottom: 0;
   z-index: 10;
   display: flex;
   justify-content: center;
   width: 100%;
}

.filter-btn {
   cursor: pointer;
   width: 50%;
   padding: 1rem;
}

.filter-sm-menu {
   position: relative;
}

.filter-sm-menu-title {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: 1rem;
}

.filter-sm-sort {
   display: none;
   position: fixed;
   bottom: 0;
   z-index: 15;
   width: 100%;
   flex-direction: column;
   background-color: #fff;
   text-align: left;
   padding: 1rem;
}

.filter-sm-sort.active {
   display: flex;
}

.filter-sm-filter {
   display: none;
   position: fixed;
   bottom: 0;
   z-index: 15;
   width: 100%;
   flex-direction: column;
   background-color: #fff;
   text-align: left;
   padding: 1rem;
}

.filter-sm-filter.active {
   display: flex;
}

/*size tab*/
@media (min-width: 768px) {
   .row {
      flex-wrap: wrap;
   }
   .card {
      width: 30%;
   }
}

/*size md*/
@media (min-width: 840px) {
   .wrapper {
      display: flex;
      position: relative;
      max-width: 1400px;
      margin: 0 auto;
   }

   .wrapper-filter {
      width: 25%;
   }

   .navbar {
      margin-top: 0;
      padding-left: 2rem;
      padding-right: 2rem;
   }

   .navbar-md {
      position: fixed;
      width: 100%;
      z-index: 10;
   }

   .container-nav {
      padding-bottom: 5rem;
   }

   /* Product List */
   .wrapper-products {
      padding: 1rem;
      width: 90%;
   }

   /* Filter Desktop*/

   .filter-md {
      display: block;
      margin-top: 4rem;
      padding: 1rem;
      width: 100%;
      position: sticky;
      top: 4rem;
      max-height: calc(100vh - 10rem);
      overflow: auto;
   }

   .filter {
      display: flex;
      flex-direction: column;
      text-align: left;
   }

   .filter-input {
      margin-right: 0.2rem;
   }

   /* Filter sm */
   .filter-sm {
      display: none;
   }

   /* Card */
   .card {
      width: 30%;
   }
}

/*size lg*/
@media (min-width: 960px) {
   .card {
      margin: 0 auto;
      width: 25%;
      margin-top: 2rem;
   }
}
