@import url('https://driftcss.netlify.app/css/drift.css');

.container {
   max-width: 1400px;
}

.title-sec {
   text-align: center;
}

.row {
   flex-direction: row;
   flex-wrap: wrap;
}

@media (min-width: 768px) {
   .row {
      flex-wrap: wrap;
   }
}

@media (min-width: 840px) {
   .wrapper {
      display: flex;
      position: relative;
      max-width: 1400px;
      margin: 0 auto;
      justify-content: space-between;
   }
}
